# if error "npmrc github Unable to authenticate" happens while doing npm install
# just authenticate using this :
# $ npm login --registry=https://npm.pkg.github.com
# > Username: USERNAME
# > Password: TOKEN
# > Email: PUBLIC-EMAIL-ADDRESS
#
@alexandrefilipiak:registry=https://npm.pkg.github.com